<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hola desde la página EJS</h1>
    <img src='https://media.moddb.com/images/groups/1/22/21537/eyb0ss.jpg'>
</body>
</html>